.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 960px;
    height: 72px;
    z-index: 10;
    background-color:hsla(0,0%,100%,.9);
    
}